@import url("https://fonts.googleapis.com/css2?family=Ephesis&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  /*    font-family: 'Ephesis', cursive;  */
  font-family: "Poppins", sans-serif;
  background-color: black;
  color: white;
}

[name~="file"] {
  background-color: rgb(6, 163, 211);
  color: white;
  padding: 0.5rem;
  font-family: sans-serif;
  border-radius: 0.3rem;
  cursor: pointer;
  margin-top: 1rem;
}

input[type~="file"]::file-selector-button {
  border: none;
  color: white;
  padding: 0.2em 0.4em;
  background-color: rgb(6, 163, 211);
  transition: 1s;
}

input[type="file"]::file-selector-button:hover {
  border: none;
  color: white;
}

.avatar {
  vertical-align: middle;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.button {
  width: 210px;
  margin-top: 10px;
  background-color: #01950d; /* Green */
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.button:hover {
  background-color: #018105;
  color: white;
}
input[type="text"] {
  padding: 5px 0px;
  width: 210px;
  border-radius: 3px;
}
input[type="date"] {
  padding: 5px 0px;
  width: 210px;
  border-radius: 3px;
}
select {
  padding: 5px 0px;
  background-color: white;
  border: none;
  width: 210px;
  border-radius: 3px;
}
input[type="submit"] {
  padding: 5px 0px;
  border: 1;
  background-color: black;
  color: white;
  border-color: white;
  width: 90px;
  border-radius: 3px;
}
input[type="submit"]:hover {
  padding: 5px 0px;
  border: 1;
  background-color: black;
  color: white;
  border-color: rgb(1, 119, 31);
  width: 90px;
  border-radius: 3px;
}
